.Header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.TitleWrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

h3 {
  font-size: 20px;
  color: #454545;
  font-weight: normal;
  height: 34px;
  line-height: 34px;
  margin-right: 1em;
}

.Price {
  display: inline-block;
  padding: 0.4em 0.7em;
  border-radius: 3px;
  font-size: 15px;
  color: white;
}

.positive {
  background: #3dc159;
}

.negative {
  background: #de4545;
}

.Button {
  margin-right: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.3em 0.6em;
}

.Button:hover {
  background-color: rgba(244, 186, 47, 0.3);
  border-color: rgba(197, 145, 20, 0.65);
}

.active, .active:hover {
  background-color: #f4ba2f;
  border-color: #c59114;
}


.positiveGrowth {
  color: green;
}

.negativeGrowth {
  color: red;
}
