.Popup {
  padding: 0.5em 1.5em;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

a:hover {
  border-bottom: 3px solid #c59114;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
}
